---
import Card from '../../components/core/Card.astro';
import Layout from '../../layouts/Layout.astro';
import game_state_v2 from '../../../src/game_state/game_state_v2.json';
import type { MilaResultsDTO } from '../../../src/game_state/gameState_v2';
import StandingsTable from './_StandingsTable.tsx';
import StandingsTableMobile from './_StandingsTable_Mobile.tsx';
import Link from '../../components/core/Link.astro';
const milaResults: MilaResultsDTO = game_state_v2;
const overallScore = milaResults.overallScore;
const images: ImageMetadata[] = await Astro.glob('../../assets/*').then(
    (files) => {
        return files.map((file) => file.default);
    }
);
const lastGameWeek = Math.max.apply(
    Math,
    game_state_v2.resultsByWeek.map((r) => r.gameWeek)
);
---

<Layout title="Milabowl - Overall standings" enableViewTransitions>
    <Card title="Standings - Overall">
        <div slot="secondary">
            <Link href={`/standings/${lastGameWeek}`}>Latest Gameweek</Link>
        </div>
        <div class="hidden md:block">
            <StandingsTable
                data={overallScore}
                lastGameWeek={lastGameWeek}
                avatars={images}
                client:idle
            />
        </div>
        <div class="block md:hidden">
            <StandingsTableMobile
                data={overallScore}
                lastGameWeek={lastGameWeek}
                avatars={images}
                client:idle
            />
        </div>
    </Card>
</Layout>
