---
import Card from '../../components/core/Card.astro';
import Layout from '../../layouts/Layout.astro';
import game_state from '../../../src/game_state/game_state.json';
import type { MilaResultsDTO } from '../../game_state/gameState.ts';
import StandingsTable from './_components/StandingsTable.tsx';
import StandingsTableMobile from './_components/StandingsTable_Mobile.tsx';
import Link from '../../components/core/Link.astro';
import type { ImageMetadata } from 'astro';
const milaResults: MilaResultsDTO = game_state;
const overallScore = milaResults.overallScore;

const imgs = Object.values(
  import.meta.glob<{ default: ImageMetadata }>('../../assets/*.webp', {
    eager: true,
  })
);
const images = imgs.map((i) => i.default);

const lastGameWeek = Math.max.apply(
  Math,
  game_state.resultsByWeek.map((r) => r.gameWeek)
);
---

<Layout title="Milabowl - Overall standings" enableViewTransitions>
  <Card title="Standings - Overall">
    <div slot="secondary" class="flex flex-row gap-3">
      <Link href={`/standings/${lastGameWeek}`}>Latest Gameweek</Link>
      {milaResults.isLive && <div class="font-bold">🔴 Live</div>}
    </div>
    <div class="hidden md:block">
      <StandingsTable
        data={overallScore}
        lastGameWeek={lastGameWeek}
        avatars={images}
        client:idle
      />
    </div>
    <div class="block md:hidden">
      <StandingsTableMobile
        data={overallScore}
        lastGameWeek={lastGameWeek}
        avatars={images}
        client:idle
      />
    </div>
  </Card>
</Layout>
