---
import type { CollectionEntry } from 'astro:content';
import { format } from 'date-fns';
import readingTime from 'reading-time';
import Card from '../../../components/core/Card.astro';
import AuthorIcon from './AuthorIcon.astro';
import Tags from './Tags.astro';

export interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
---

<Card>
  <div class="mb-3 flex items-center gap-4">
    <AuthorIcon />
    <div class="grow">
      <div>
        {post.data.author}
        <span class="text-content-secondary">
          - {readingTime(post.body).text}</span
        >
      </div>
    </div>
    <time
      date-time={format(post.data.date, 'yyyy-MM-dd')}
      class="text-content-secondary"
      >{format(post.data.date, 'dd.MM.yyyy')}</time
    >
  </div>
  <a
    class="prose prose-slate dark:prose-invert md:prose-lg"
    href={`/blog/${post.slug}`}
  >
    <h2>
      {post.data.title}
    </h2>
    <div
      style="-webkit-line-clamp: 3; -webkit-box-orient: vertical; display: -webkit-box;"
      class="max-h-50 mb-3 overflow-hidden text-ellipsis"
    >
      {post.body}
    </div>
  </a>
  {
    (
      <div class="mt-4">
        <Tags tags={post.data.tags} />
      </div>
    )
  }
</Card>
