---
import type { BombHistoryState } from '../../game_state/bombState';
import BombRow from './BombRow.astro';
import BombTierTracker from './BombTierTracker.astro';

export interface Props {
  bombState: BombHistoryState;
}

const { bombState } = Astro.props;

const weeksDesc = Object.entries(bombState.bombHistoryByGameWeek)
  .map(([gw, events]) => ({ gameWeek: Number(gw), events }))
  .sort((a, b) => b.gameWeek - a.gameWeek);
---

<>
  <BombTierTracker bombState={bombState} />
  {
    weeksDesc.map(({ gameWeek: gw, events }) => (
      <div class={`py-2 text-sm`}>
        <div class="flex flex-col gap-3">
          <div class="text-content-secondary flex flex-col justify-center gap-2 text-xs">
            GW {gw}
          </div>

          {events.map((event) => (
            <BombRow
              severity={event.severity}
              description={event.description}
              emoji={event.emoji}
            />
          ))}
        </div>
      </div>
    ))
  }
</>
