---
import AvatarProvider from '../components/core/AvatarProvider.astro';
import fpl_state from "../../src/game_state/fpl_state.json";

interface Props{
    teamName: string;
    view: string;
}

const lastGameWeek = Math.max.apply(Math, fpl_state.results.map(r => r.gameWeek));

const { teamName, view } = Astro.props;
---
<div>
    <div class="w-full fixed bg-slate-100 dark:bg-slate-900 top-0 z-10 text-indigo-900 dark:text-dark-text md:pt-16">
        <div class="flex items-center gap-2 px-2 py-2 md:p-4">
            <div transition:name={`avatar ${teamName}`}>
                <div class="w-16 h-16 md:w-36 md:h-36">
                    <AvatarProvider teamName={teamName}/>
                </div>
            </div>
            <div transition:name={`name ${teamName}`} class="pt-2 text-xl font-bold">
                {teamName}
            </div>
        </div>
        

        <div class="flex px-0 py-0 w-full justify-start">
            <a href={`/fpl/players/${teamName.replaceAll(" ", "-")}/gw/${lastGameWeek}`} class={`px-4 py-2 ${view === "fpl" ? "border-b-4 border-indigo-700" : ""}`}>FPL</a> 
            <a href={`/players/${teamName.replaceAll(" ", "-")}`} class={`px-4 py-2 ${view === "mila" ? "border-b-4 border-indigo-700" : ""}`}>Mila</a>
        </div>
    </div>
</div>