---
import Layout from '../layouts/Layout.astro';
import Card from '../components/core/Card.astro';
import Trend from './_components/Trend';
import game_state from '../../src/game_state/game_state.json';
import bomb_state from '../../src/game_state/bomb_state.json';
import type { MilaResultsDTO } from '../game_state/gameState';
import type { BombGameWeekState } from '../game_state/bombState';
import type { ResultsForTeams } from './_components/types';
import Link from '../components/core/Link.astro';
import OverviewTable from './_components/OverviewTable';
import BombState from './_components/BombState.astro';
import type { ImageMetadata } from 'astro';
import { GetBombEmoji } from './_components/bombEmoji';
import { getImage } from 'astro:assets';

const milaResults: MilaResultsDTO = game_state;
const bombState: BombGameWeekState[] = bomb_state;

const currentGameWeek = Math.max(
  ...milaResults.resultsByWeek.map((r) => r.gameWeek)
);
const currentGameWeekResults =
  milaResults.resultsByWeek.find((week) => week.gameWeek === currentGameWeek)
    ?.results || [];

const imgs = Object.values(
  import.meta.glob<{ default: ImageMetadata }>('../assets/*.webp', {
    eager: true,
  })
);

const optimizedImages = await Promise.all(
  imgs.map(async (img) => {
     const img40Avif = await getImage({ 
      src: img.default, 
      width: 40, 
      height: 40,
      format: 'avif'
    });
    const img60Avif = await getImage({ 
      src: img.default, 
      width: 60, 
      height: 60,
      format: 'avif'
    });
    
    const img40Webp = await getImage({ 
      src: img.default, 
      width: 40, 
      height: 40,
      format: 'webp'
    });
    const img60Webp = await getImage({ 
      src: img.default, 
      width: 60, 
      height: 60,
      format: 'webp'
    });
    
    return {
      src: img.default.src,
      src40Avif: img40Avif.src,
      src60Avif: img60Avif.src,
      src40Webp: img40Webp.src,
      src60Webp: img60Webp.src,
      srcSetAvif: `${img40Avif.src} 40w, ${img60Avif.src} 60w`,
      srcSetWebp: `${img40Webp.src} 40w, ${img60Webp.src} 60w`,
      sizes: "(max-width: 640px) 40px, 60px"
    };
  })
);

const resultsByUser = milaResults.resultsByUser;

const lastFiveWeeksByTeam: ResultsForTeams[] = resultsByUser.map((team) => ({
  teamName: team.teamName,
  results: team.results.slice(-5).map((result) => ({
    gameWeek: result.gameWeek,
    milaRank: result.milaRank,
    cumulativeAverageMilaPoints: result.cumulativeAverageMilaPoints,
    totalCumulativeAverageMilaPoints: result.totalCumulativeAverageMilaPoints,
  })),
}));
---

<Layout title="Milabowl - Dashboard" enableViewTransitions>
  <main>
    <div class="flex flex-col gap-4 lg:grid lg:grid-cols-12">
      <div class="lg:col-span-5">
        <Card title="Standings">
          <div slot="secondary" class="flex flex-row gap-3">
            <Link href="/standings">See More</Link>
            {milaResults.isLive && <div class="font-bold">🔴 Live</div>}
          </div>

          <OverviewTable
            avatars={optimizedImages}
            data={milaResults.overallScore}
            teams={lastFiveWeeksByTeam}
            currentGameWeekResults={currentGameWeekResults}
            client:idle
          />
        </Card>
      </div>

      <div class="lg:col-span-7">
        <div class="grid grid-cols-12 gap-4">
          <div class="col-span-12 grid gap-4">
            <Card
              title={`Bomb Tier: ${bombState[bombState.length - 1].bombTier} ${GetBombEmoji(bombState[bombState.length - 1].bombTier)}`}
            >
              <div slot="secondary">
                <Link href="/bomb_history">See all</Link>
              </div>
              <div class="grid grid-cols-5 gap-2">
                <BombState bombState={bombState.slice(0, 5)} />
              </div>
            </Card>
          </div>
          <div class="col-span-12">
            <Card title="Trend">
              <Trend teams={lastFiveWeeksByTeam} client:load />
            </Card>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
